.button {
    width: 100px;
    height: 40px;
    background-color: #56ab2f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    transition: transform 0.3s ease, box-shadow 0.3s ease, all 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.button:hover {
    background-color: #458a25;
    transform: translateY(-3px);
}