:root {
  color-scheme: light;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #454545; /* Дуже темно-сірий, майже чорний */
  color: #ffffff;
  margin: 0;
  font-family: sans-serif; /* Або твій шрифт */
}
